/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";

.wrapper > .site-title {
  color: white;
  font-family: 'Space Mono', monospace;
  text-transform: lowercase;
}

.site-nav .page-link{
	color: white;
	font-family: 'Space Mono', monospace;
	text-transform: lowercase;
}

body > header {
  background-color: #000000;
  min-height: 23px;
  max-height: 23px;
}

.post-content {
	box-sizing: content-box;
	color: #FFFFF0;
}


.post-content p, .post-content li {
	color: #e2dfd2
}

.page-content{
	background-color: #282828;
	color: #E2DFD2;
}