/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";

body{
	background-color: rgba(200, 200, 200, .3);
}

body > header {
  background-color: #000000;
  min-height: 23px;
  max-height: 23px;

}

.wrapper > .site-title, .wrapper > .page-link {
  color: white;
  font-family: 'Space Mono', monospace;
  text-transform: lowercase;
}

.post-content {
	box-sizing: content-box;
}



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";
